<html xmlns:th="https://www.thymeleaf.org">
​
<head>
    <title>Register - Product</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="/styles/master.css">
    <link rel="stylesheet" type="text/css" href="/styles/productDetail.css">

    <script type="text/javascript" src="/scripts/master.js" defer></script>
    <script type="text/javascript" src="/scripts/productDetail.js" defer></script>
</head>
​
<body>

    <div class="header">
        <h1 class="primary-message">Product Detail</h1>
    </div>

		<div class="productDetailWrapper">
			<table id="productDetails">
				<tbody>
					<tr class="hidden">
						<td>ID:</td>
						<td>
							<input id="productId" type="hidden" th:value="${!product.isEmpty} ? ${product.id} : ''" />
						</td>
					</tr>
					<tr>
						<td class="label">Lookup Code:</td>
						<td>
							<input id="productLookupCode" type="text" th:value="${!product.isEmpty} ? ${product.lookupCode} : ''" class="update" th:disabled="${!isElevated}"/>
						</td>
					</tr>
					<tr>
						
						<td class="label" >Count:</td>
						
						<td valign="middle">
							
							<button id = "countAdd" onclick="incrementCount(id)">+</button>
							<input id="productCount" type="number" th:value="${!product.isEmpty} ? ${product.count} : ''" class="update" th:disabled="${!isElevated}" />
							<button id = "countSubtract" onclick="incrementCount(id)"> - </button>
						</td>
						
						
					</tr>
					<tr>
						<td class="label">Price:</td>
						<td>
							<input id="productPrice" type="number" th:value="${!product.isEmpty} ? ${product.price} : ''" class="update" th:disabled="${!isElevated}" />
						</td>
					</tr>
				</tbody>
			</table>
		</div>

        <span th:if="${isElevated}">
		<div class="productActionsWrapper">
			<br />
			<div id="deleteActionContainer" th:class="${product.isEmpty} ? hidden : ''">
				<button id="deleteButton" type="button" class="action">Delete</button>
				<br />
				<br />
			</div>
			<button id="saveButton" type="button" class="action">Save</button>
		</div>
		</span>

		<div id="productSavedAlertModal" class="modal animate-opacity-show">
			<div class="modal-content">
				<div class="container gray-blue">
					<h1>
						<span>Product</span><br />
						<span>Saved</span>
					</h1>
				</div>
			</div>
		</div>
	</div>

	<span th:if="${isTransaction}">
		<h3>Add to transaction</h3>
		<!-- TODO add error checking -->
		<form action="/transactionContent" method="POST" class="inputContent">
		<table id="addTransactionContent">
			<tbody>
				<tr class="hidden"> 
					<td>Product ID:</td>
					<td>
						<input id="productId" name="productId" type="hidden" th:value="${!product.isEmpty} ? ${product.id} : ''" />
					</td>
				</tr>
				<tr class="hidden"> 
					<td>Price:</td>
					<td>
						<input id="price" name="price" type="hidden" th:value="${!product.isEmpty} ? ${product.price} : ''" />
					</td>
				</tr>
				<tr>
					<td class="label">Quantity</td>
					
					<td>
						<input type="number" id="quantity" name="quantity" value="1" class="update" >
					</td>
				</tr>
			</tbody>
		</table>
		<button value="Add" type="submit" class="action">Add</button>
		</form>
	</span>
		
</body>
​
</html>